.idea/
node_modules/
node-debug.log
npm-debug.log
.DS_Store
**/*.swp
**/*.swo
coverage/
.happypack/
.vscode
.history
/build
/dist
/storybook-static


.justconf

.justconf/
/test/coverage
/node_modules
/lib
*.log
